# Environment variables
.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/


# Generated outputs
outputs/summaries/*.txt
outputs/summaries/*.json

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db